<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="/static/css/dnd.css">

    <script defer src="/static/js/dndCalculator.js"></script>

    <title>DND</title>
</head>
<body class="page-color">
<h1>DND-character creation app</h1>
<h3>Here you can create or update your DND-character!</h3>
<br>
<a href="/add-character">Add new character</a>
<br><br>
<a href="/choose-character">Or choose from existing ones</a>
</body>
</html>